<h1>Events</h1>

<%if current_user%>
  <p>Salut <%= current_user.first_name %>, ton email <%= current_user.email %> </p>
<%end%>

<div class="row">

  <% Event.all.sort.each_with_index do |event, index|  %>

<div class="col-sm-4">
  <div class="card">
    
      <div class="card-body">
          <figure class="profile profile-inline">
            <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
          </figure>

          <h4 class="card-title"><%= event.title %></h4>
      </div>
      
      <div>
        <img class="card-img-top" src="https://picsum.photos/200/150/?random">
      </div>

      <div class="card-footer">
        <%= link_to "event n°#{event.id}", event_path(event.id), class:"btn btn-info float-right btn-sm" %>
        Créé par <%= event.admin.first_name%>
      </div>



  </div>
</div>

 <%end%>

</div>

